# ===== GLOBAL =====
node_modules
.env
.env.*
*.local

# Logs
logs
*.log

# OS
.DS_Store

# Build
dist
build
coverage

# ===== CLIENT =====
client/node_modules
client/dist
client/dist-ssr
client/pnpm-lock.yaml

# ===== SERVER =====
server/node_modules
server/pnpm-lock.yaml

# IDE
.vscode
.idea
CLAUDE.md
description.md